*{
  margin: 0;
}

.sidebar.active{
  background-color: white;
}

.left-menu-icon.active{
  color: black;
}

.toggle.active{
  background-color: black;
}

.toggle-ball.active{
  background-color: white;
  transform: translateX(-20px);
}

@media only screen and (max-width: 940px){
  .menu-container{
      display: none;
  }
}